.activate {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(15, 97, 80);
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.inActivate {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #a3152d;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
